{% extends "layout.html" %}
{% block header%}
  <script>
    function validate(myform){
      var isValid=false;
      {% for credential in loginData %}
      if(myForm.user.value=="{{credential.User}}"&&myForm.password.value=="{{credential.Password}}"){
        isValid=true;
      }
      {% endfor %}
      alert(isValid)
    }
  </script>
{% endblock header %}
{% block content %}
  <h1>Login</h1>
  <div class="content-section">
    <form id="myForm">
      <fieldset class="form-group">
        <legend class="border-bottom">Login</legend>
        <input type="text" name="user"><br/>
        <input type="password" name="password"><br/><br/>
        <input type="button" value="OK" onclick="validate(myForm);"
      </fieldset>
  </form>
{% endblock content %}
